@model TiendaApp.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h2 class="text-danger">Eliminar Producto</h2>
<h3>¿Estás segura de que deseas eliminar este producto?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Precio)</dt>
        <dd class="col-sm-9">Bs. @Html.DisplayFor(model => model.Precio)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Stock)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Stock)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaVencimiento)</dt>
        <dd class="col-sm-9">@Model.FechaVencimiento.ToString("dd/MM/yyyy")</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sí, Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>